.home-mentor--list {
  background-color: #007bff;
  border-radius: 10px 10px 10px 10px;
  height: 30px;
}
.home-mentor {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 2px solid #575555;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.fa-trash-o,
.fa-pencil-square-o,
.fa-eye,
.fa-calendar-plus-o {
  color: black;
  font-size: 13px;
}
.checkbox-inline {
  padding: 4px;
}
.fa {
  font-size: 22px;
}
li {
  list-style-type: none;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 1px solid black;
}
i {
  padding: 3px;
}
span {
  height: 40px;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 1px solid black;
}
.sm-gutter--list {
  text-align: center;
  padding-left: 0;
}
h3 {
  color: #007bff;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  color: #007bff;
  text-align: center;
  text-transform: uppercase;
}
.uploader {
  margin-top: 40px;
  padding-left: 70px;
}
.search-boxMentor {
  margin-top: 13px;
  padding-left: 53.5rem;
}
.btn-add {
  font: inherit;
  background-color: #1aa3ff;
  color: white;
  border: 1px solid #1aa3ff;
  padding: 0.25rem 1rem;
  margin-left: 5px;
  border-radius: 4px;
  width: 105px;
}
.inputUpload {
  border: 1px solid grey;
  border-radius: 4px;
}
.inputSearch {
  width: 250px;
  height: 32px;
  border: 1px solid grey;
  border-radius: 4px;
}
/* GRID */

.wide1 .l-2-2-dg {
  flex: 1 0 50%;
  max-width: 12.1111111%;
  height: 52px;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  max-width: 1000px;
  margin: 0 auto;
}
.griddg.widedg {
  max-width: 200px !important;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .m-0 {
    display: none;
  }
}
/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -18px;
    margin-right: -18px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .l-0 {
    display: none;
  }
}
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .l-0 {
    display: none;
  }
}
.inputText {
  width: 200px;
}
.iconred {
  color: red !important;
}
.fa-pencil-square-o {
  color: gold !important;
}
.fa-calendar-plus-o {
  color: chartreuse;
}
.fa-eye {
  color: #007bff;
}
select {
  width: 100px;
}
.right-mentor {
  padding-left: 80px;
  font-weight: 600;
}
.left-mentor {
  font-weight: 600;
}
.right-mentor1 {
  padding-left: 80px;
  font-weight: 600;
  float: left;
}
.left-mentor1 {
  font-weight: 600;
  float: left;
}
.container.justify-content-center {
  margin-top: 400px;
}
.modal-header {
  border: none;
}
.modal-footer {
  justify-content: center;
  border: none;
}
.btn-danger-del,
.btn-danger-del:hover {
  color: white;
  background: #007bff;
  border: 1px solid #007bff;
  width: 105px;
}
.btn-light,
.btn-light:hover {
  color: black;
  background: white;
  width: 105px;
}
.btn:focus {
  box-shadow: none;
}
.text-muted {
  text-align: center;
}
.footer_mentor {
  margin: 0 auto;
  background-color: antiquewhite;
}
.swal2-styled.swal2-cancel {
  color: black;
  background: #f8f9fa;
  border: 1px solid #007bff;
  width: 100px;
}
.swal2-styled.swal2-confirm {
  width: 105px;
  border: 1px solid #007bff;
}
.pagination1 {
  justify-content: center;
  margin-left: 60rem;
}
body.modal-open,
::-webkit-scrollbar {
  overflow: scroll;
}

.modal-lg-dg {
  max-width: 470px !important;
}
